<html>
<head></head>
<body>
<h2>Contoso Retail Worldwide Report</h2>
<div class="embed-responsive embed-responsive-1by1" >

<iframe  class="embed-responsive-item"  title="analyse attrition with powerBI"  width="1500" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=eb7374a8-6df7-4ab3-ad11-99d2962ae051&autoAuth=true&ctid=889cdbee-d881-42dc-bd06-ad3237c34a53&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWFmcmljYS1ub3J0aC1hLXByaW1hcnktcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe>
</div>
<hr class="my-4">
<div class="pt-5">
<h6 class="mb-0"> <a  href="/"  class="mb-0"> <i class="fas fa-long-arrow-alt-left me-2"></i>   Back </a> </h6>
</div>
</body>
</html>